In [65]:
#Задание №1.
import json, requests

In [66]:
site = f"https://www.cbr-xml-daily.ru/daily_json.js"            
repos = json.loads(requests.get(site).text)                   
max_valut(repos)

Максимальное значение имеет  СДР (специальные права заимствования)

In [45]:
def max_valut(repos):
    for k, v in repos.items():                   
        if k == 'Valute':
            dict_v = {}
            for k1, v1 in v.items():              
                dict_v[v1['Name']] =  v1['Value']
            max_val = max(dict_v.values())
            for k_dict_v, v_dict_v in dict_v.items():
                if v_dict_v == max_val:
                    print('Максимальное значение имеет ', k_dict_v)

**Задание 2**
Добавьте в класс Rate **параметр diff** (со значениями True или False), который в случае значения True в методах курсов валют (eur, usd итд) будет возвращать не курс валюты, а изменение по сравнению в прошлым значением. Считайте, self.diff будет принимать значение True только при возврате значения курса. При отображении всей информации о валюте он не используется.

In [67]:
#Задание №2
class Rate:
 
    def __init__(self, fopmat_='value', diff = False):             
         self.format = fopmat_
         self.diff = diff
    
    def izm_(self):
        self.r = requests.get('https://www.cbr-xml-daily.ru/daily_json.js')
        return self.r.json()['Valute']
    
    def del_f(self, currency):
        response = self.izm_()   
        if currency in response:
            if self.format == 'full':
                return response[currency]
            if self.format == 'value':
                if self.diff == False:
                
                    return response[currency]['Value']
            
                      
                if self.diff == True:
                    return response[currency]['Previous']

        return 'Error'
      
    def eur(self):
        return self.del_f('EUR')
    
    def usd(self):
        return self.del_f('USD')
    
    def brl(self):
        return self.del_f('BRL')

In [68]:
r = Rate()

In [69]:
r.izm_()

{'AUD': {'ID': 'R01010',
  'NumCode': '036',
  'CharCode': 'AUD',
  'Nominal': 1,
  'Name': 'Австралийский доллар',
  'Value': 55.6234,
  'Previous': 55.8519},
 'AZN': {'ID': 'R01020A',
  'NumCode': '944',
  'CharCode': 'AZN',
  'Nominal': 1,
  'Name': 'Азербайджанский манат',
  'Value': 42.1893,
  'Previous': 42.4941},
 'GBP': {'ID': 'R01035',
  'NumCode': '826',
  'CharCode': 'GBP',
  'Nominal': 1,
  'Name': 'Фунт стерлингов Соединенного королевства',
  'Value': 101.4554,
  'Previous': 101.7334},
 'AMD': {'ID': 'R01060',
  'NumCode': '051',
  'CharCode': 'AMD',
  'Nominal': 100,
  'Name': 'Армянских драмов',
  'Value': 13.8037,
  'Previous': 13.8694},
 'BYN': {'ID': 'R01090B',
  'NumCode': '933',
  'CharCode': 'BYN',
  'Nominal': 1,
  'Name': 'Белорусский рубль',
  'Value': 28.8949,
  'Previous': 28.8905},
 'BGN': {'ID': 'R01100',
  'NumCode': '975',
  'CharCode': 'BGN',
  'Nominal': 1,
  'Name': 'Болгарский лев',
  'Value': 44.6019,
  'Previous': 44.9101},
 'BRL': {'ID': 'R01115',
  'NumCode': '986',
  'CharCode': 'BRL',
  'Nominal': 1,
  'Name': 'Бразильский реал',
  'Value': 14.1777,
  'Previous': 14.259},
 'HUF': {'ID': 'R01135',
  'NumCode': '348',
  'CharCode': 'HUF',
  'Nominal': 100,
  'Name': 'Венгерских форинтов',
  'Value': 25.226,
  'Previous': 25.3743},
 'HKD': {'ID': 'R01200',
  'NumCode': '344',
  'CharCode': 'HKD',
  'Nominal': 10,
  'Name': 'Гонконгских долларов',
  'Value': 92.3803,
  'Previous': 93.0415},
 'DKK': {'ID': 'R01215',
  'NumCode': '208',
  'CharCode': 'DKK',
  'Nominal': 1,
  'Name': 'Датская крона',
  'Value': 11.7315,
  'Previous': 11.8107},
 'USD': {'ID': 'R01235',
  'NumCode': '840',
  'CharCode': 'USD',
  'Nominal': 1,
  'Name': 'Доллар США',
  'Value': 71.6797,
  'Previous': 72.1974},
 'EUR': {'ID': 'R01239',
  'NumCode': '978',
  'CharCode': 'EUR',
  'Nominal': 1,
  'Name': 'Евро',
  'Value': 87.3274,
  'Previous': 87.8065},
 'INR': {'ID': 'R01270',
  'NumCode': '356',
  'CharCode': 'INR',
  'Nominal': 100,
  'Name': 'Индийских рупий',
  'Value': 98.0852,
  'Previous': 98.8058},
 'KZT': {'ID': 'R01335',
  'NumCode': '398',
  'CharCode': 'KZT',
  'Nominal': 100,
  'Name': 'Казахстанских тенге',
  'Value': 16.7784,
  'Previous': 16.8845},
 'CAD': {'ID': 'R01350',
  'NumCode': '124',
  'CharCode': 'CAD',
  'Nominal': 1,
  'Name': 'Канадский доллар',
  'Value': 59.259,
  'Previous': 59.5836},
 'KGS': {'ID': 'R01370',
  'NumCode': '417',
  'CharCode': 'KGS',
  'Nominal': 100,
  'Name': 'Киргизских сомов',
  'Value': 84.828,
  'Previous': 85.3876},
 'CNY': {'ID': 'R01375',
  'NumCode': '156',
  'CharCode': 'CNY',
  'Nominal': 1,
  'Name': 'Китайский юань',
  'Value': 11.2159,
  'Previous': 11.2976},
 'MDL': {'ID': 'R01500',
  'NumCode': '498',
  'CharCode': 'MDL',
  'Nominal': 10,
  'Name': 'Молдавских леев',
  'Value': 40.4057,
  'Previous': 40.7435},
 'NOK': {'ID': 'R01535',
  'NumCode': '578',
  'CharCode': 'NOK',
  'Nominal': 10,
  'Name': 'Норвежских крон',
  'Value': 86.5007,
  'Previous': 86.6029},
 'PLN': {'ID': 'R01565',
  'NumCode': '985',
  'CharCode': 'PLN',
  'Nominal': 1,
  'Name': 'Польский злотый',
  'Value': 19.4978,
  'Previous': 19.6162},
 'RON': {'ID': 'R01585F',
  'NumCode': '946',
  'CharCode': 'RON',
  'Nominal': 1,
  'Name': 'Румынский лей',
  'Value': 17.728,
  'Previous': 17.8455},
 'XDR': {'ID': 'R01589',
  'NumCode': '960',
  'CharCode': 'XDR',
  'Nominal': 1,
  'Name': 'СДР (специальные права заимствования)',
  'Value': 103.3786,
  'Previous': 104.2437},
 'SGD': {'ID': 'R01625',
  'NumCode': '702',
  'CharCode': 'SGD',
  'Nominal': 1,
  'Name': 'Сингапурский доллар',
  'Value': 54.1961,
  'Previous': 54.4804},
 'TJS': {'ID': 'R01670',
  'NumCode': '972',
  'CharCode': 'TJS',
  'Nominal': 10,
  'Name': 'Таджикских сомони',
  'Value': 62.8494,
  'Previous': 63.3033},
 'TRY': {'ID': 'R01700J',
  'NumCode': '949',
  'CharCode': 'TRY',
  'Nominal': 10,
  'Name': 'Турецких лир',
  'Value': 86.0211,
  'Previous': 84.3566},
 'TMT': {'ID': 'R01710A',
  'NumCode': '934',
  'CharCode': 'TMT',
  'Nominal': 1,
  'Name': 'Новый туркменский манат',
  'Value': 20.5092,
  'Previous': 20.6278},
 'UZS': {'ID': 'R01717',
  'NumCode': '860',
  'CharCode': 'UZS',
  'Nominal': 10000,
  'Name': 'Узбекских сумов',
  'Value': 67.6989,
  'Previous': 68.295},
 'UAH': {'ID': 'R01720',
  'NumCode': '980',
  'CharCode': 'UAH',
  'Nominal': 10,
  'Name': 'Украинских гривен',
  'Value': 26.5218,
  'Previous': 26.6323},
 'CZK': {'ID': 'R01760',
  'NumCode': '203',
  'CharCode': 'CZK',
  'Nominal': 10,
  'Name': 'Чешских крон',
  'Value': 34.4879,
  'Previous': 34.5426},
 'SEK': {'ID': 'R01770',
  'NumCode': '752',
  'CharCode': 'SEK',
  'Nominal': 10,
  'Name': 'Шведских крон',
  'Value': 86.8182,
  'Previous': 87.1528},
 'CHF': {'ID': 'R01775',
  'NumCode': '756',
  'CharCode': 'CHF',
  'Nominal': 1,
  'Name': 'Швейцарский франк',
  'Value': 80.0265,
  'Previous': 80.5595},
 'ZAR': {'ID': 'R01810',
  'NumCode': '710',
  'CharCode': 'ZAR',
  'Nominal': 10,
  'Name': 'Южноафриканских рэндов',
  'Value': 52.8276,
  'Previous': 52.7273},
 'KRW': {'ID': 'R01815',
  'NumCode': '410',
  'CharCode': 'KRW',
  'Nominal': 1000,
  'Name': 'Вон Республики Корея',
  'Value': 64.4396,
  'Previous': 64.7281},
 'JPY': {'ID': 'R01820',
  'NumCode': '392',
  'CharCode': 'JPY',
  'Nominal': 100,
  'Name': 'Японских иен',
  'Value': 65.4221,
  'Previous': 65.9277}}

In [70]:
r.del_f('EUR')

87.3274

In [71]:
r.eur()

87.3274

In [129]:
#Задание №3
class Worker:
    def __init__(self, name, seniority):
        self.name = name
        self.seniority = seniority
        
        self.grade = 1
    
    def gr_(self):
        self.grade += 1
    
    def p_gr(self):
        print(self.name, self.grade)
    
    def check_up(self):
        pass

In [130]:
class Designer(Worker):
    def __init__(self, name, seniority, prize):           
        super().__init__(name, seniority, )
        self.prize = prize
        self.prize_points = 4
    
    def check_up(self):
        self.seniority += 1
        if (self.prize_points + self.prize * 2) // 7 > 0:
            self.gr_()

        return self.p_gr()

In [139]:
d = Designer('Вячеслав',1, 4)

In [140]:
d.check_up()

Вячеслав 2